Host oncampus oncampus-course.engin.umich.edu
	HostName oncampus-course.engin.umich.edu
	User snoliver
	ControlMaster auto
	ControlPath _~/.ssh/%r@%h:%p
	ControlPersist 3h
Host caen login.engin.umich.edu
	HostName login.engin.umich.edu
	User snoliver
	ControlMaster auto
	ControlPath ~/.ssh/_%r@%h:%p
	ControlPersist 3h
Host gitlab
	HostName gitlab.com
	User git
	IdentityFile ~/.ssh/gitlab_rsa
Host github
	HostName github.com
	User git
	IdentityFile ~/.ssh.github_rsa
